<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>X-Andra Photo</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'gallery/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'gallery/css/custom.css' %}" >
    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <div class="container">
            <a class="navbar-brand" href="/gallery/">X-Andra Photography</a>
          </div>
        </nav>

        <div class="container topicContent">
            {% if images %}
                 <div class="container">
                    {% for list_of_image in list_of_images %}
                        <div class="row">
                          {% for image in list_of_image %}
                            <div class="col" id="{{image.id}}">
                              <a href="/gallery/{{ topic.name }}/{{image.id}}"><img height="200px" width="200px" class="img-thumbnail" src="{% static image.get_source %}"></a>
                            </div>
                          {% endfor %}
                      </div>
                    {% endfor %}
                 </div>
            {% else %}
                <p>No images yet.</p>
            {% endif %}
        </div>

         <!-- Footer -->
        <footer class="py-5 bg-light">
          <div class="container">
            <p class="m-0 text-center">Copyright &copy; X-Andra 2017</p>
          </div>
          <!-- /.container -->
        </footer>

        <script src="{% static 'gallery/js/jquery.min.js' %}"></script>
        <script src="{% static 'gallery/js/popper.min.js' %}"></script>
        <script src="{% static 'gallery/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'gallery/js/custom.js' %}"></script>
    </body>
</html>